@import './base.css';


:root{
  --bg:#e3f2fd;
  --foreground:#90caf9;
  --highlight:#0d47a1;
  --dark:#1976d2;
  --light:#64b5f6;
  --mid:#2196f3;
}

body{
  background-color: var(--bg);
}

.apiKeyHeader{
color: var(--bg);
background-color: var(--highlight);
padding-left: 8px;
padding-right: 8px;
padding-bottom: 4px;
padding-top: 4px;
border-radius: 7.5px;
line-break: normal;
}

.apiKeySubHeader{
color: var(--bg);
background-color: var(--dark);
padding-left: 8px;
padding-right: 8px;
padding-bottom: 4px;
padding-top: 4px;
border-radius: 7.5px;
line-break: normal;
}
.apiKeyText{
color: var(--bg);
background-color: var(--highlight);
padding-left: 8px;
padding-right: 8px;
padding-top: 6px;
padding-bottom: 6px;
border-radius: 5px;
font-weight: 700;
line-break: normal;
}
.scrollerText{
  color: var(--bg);
  background-color: var(--dark);
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 7.5px;
}
.docInfo{
  display: grid;
  align-items: center;
  width: 90%;
  grid-auto-flow: row;
  row-gap: 30px;
}
.docInfo>.headingContainer{
  width: auto;
  max-width: 100%;
  display: grid;
  justify-items: start;
}
.docInfo>.headingContainer>h2{
  color: var(--bg);
  background-color: var(--dark);
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 7.5px;
  line-break: normal;
  
}
.docInfo>.methodContainer{
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  width: auto;
  max-width: 100%;
  justify-items: start;
}
.docInfo>.methodContainer>h4{
  color: var(--bg);
  background-color: var(--dark);
  padding-left: 8px;
  white-space-collapse: break-spaces;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 7.5px;

  line-break: normal;
}
.docInfo>.methodContainer>p{
  white-space-collapse: break-spaces;
  color: var(--bg);
  background-color: var(--highlight);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  font-weight: 700;
  line-break: normal;
}

.blockSpan{
  width: 90%;
  border-radius: 7.5px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--foreground);
}
.pageHeader{
  background-color: var(--foreground);
}

.pageFooter{
  background-color: var(--foreground);
}

.footerText{
  padding-top: 3.3px;
  padding-bottom: 3.3px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  background-color: var(--dark);
  color: var(--bg);
  border-radius: 5px;  
}

.headerIcon{
  background-color: var(--dark);
  color: var(--bg);
  border-radius: 4px;
}
.heroText{
  padding-top: 3.3px;
  padding-bottom: 3.3px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  background-color: var(--dark);
  color: var(--bg);
  border-radius: 5px;
}
.inputSpan{
  border-radius: 5px;
  padding: 5px;
  background-color: var(--light);
}
.inputTag{
  padding: 7.5px;
  background-color: var(--bg);
  color: var(--highlight);
  border-radius: 5px;
  border-color: var(--dark);
}
.heroImage{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--foreground);
}
.headerSubtext{
  border-radius: 4px;
  background-color: var(--mid);
  color: var(--bg);
}

.genKey{
 color: var(--bg);
 background-color: var(--highlight);
 padding-left: 7.5px;
 padding-right: 7.5px;
 padding-bottom: 5px;
 padding-top: 5px;
 border-radius: 5px;
 cursor: pointer;
}

.genDescText{
  color: var(--bg);
  background-color: var(--dark);
  width: 70%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 7.5px;
  padding-left: 7.5px;
  border-radius: 5px;
}

.yourKey{
  color: var(--highlight);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 7.5px;
  padding-left: 7.5px;
  border-radius: 5px;

}

.keyTag{
  color: var(--bg);
  background-color: var(--highlight);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 7.5px;
  padding-left: 7.5px;
  border-radius: 5px;
  line-break: normal;
  word-break: break-all;
}
.profileUsername{
  color: var(--bg);
  background-color: var(--dark);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 7.5px;
  padding-left: 7.5px;
  border-radius: 5px;
}
.profileEmail{
  color: var(--bg);
  background-color: var(--highlight);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 7.5px;
  padding-left: 7.5px;
  border-radius: 5px;

}
.profileMember{
  color: var(--bg);
  background-color: var(--highlight);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 7.5px;
  padding-left: 7.5px;
  border-radius: 5px;
  
}